<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <partial name="_Style" />

</head>
<body class="hold-transition sidebar-mini layout-fixed">


    <div class="wrapper">

        <partial name="_Navbar" />
        <partial name="_Sidebar" />

        <div class="content-wrapper">
            <section class="content">

                <div class="container-fluid">
                    @RenderBody()
                </div>

            </section>

        </div>
         <partial name="_Footer" />

    </div>

    <partial name="_Script" />

    @RenderSection("scripts", required: false)


</body>
</html>
