@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@*<ul class="navbar-nav">*@
<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link active">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                    Super Admin & Users
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">

                <li class="nav-item">
                    <a asp-controller="Users" asp-action="Index" class="nav-link ">
                        <i class="nav-icon far fa-circle text-warning"></i>
                        <p>Users</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a asp-controller="Roles" asp-action="Index" class="nav-link">
                        <i class="nav-icon far fa-circle text-warning"></i>
                        <p>Roles</p>
                    </a>
                </li>



                <li class="nav-item">
                    <a asp-controller="Product" asp-action="Index" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Product</p>
                    </a>
                </li>
            </ul>
        </li>

     
    }
    @*else
    {
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }*@
</ul>
