@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Home page</h1>
   <img src="~/AdminLTE/dist/img/photo1.png"  
   class="square" height="90%" width="60%" asp-append-version="true" />  
</div>